In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part on into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Lebu,CL,2022-07-16 02:29:41,-37.6167,-73.6500,44.26,82,26,2.64
1,1,Esperance,AU,2022-07-16 02:29:41,-33.8667,121.9000,59.63,71,100,12.59
2,2,Provideniya,RU,2022-07-16 02:29:42,64.3833,-173.3000,50.52,60,45,6.62
3,3,Luwuk,ID,2022-07-16 02:29:42,-0.9516,122.7875,78.30,86,100,6.51
4,4,Codajas,BR,2022-07-16 02:29:42,-3.8367,-62.0569,77.54,81,76,3.33

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# configure gmaps to use your Google API key.
gmaps.configure(api_key = g_key)

In [5]:
# General syntax for creating a heatmap
# # 1. Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude, longitude]
# # 2. Assign the weights variable to some values.
# temperatures = # an array of length equal to the locations array length
# # 3. Assign the figure variable to the gmaps.figure() attribute.
# fig = gmaps.figure()
# # 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# # 5. Add the heatmap layer.
# fig.add_layer(heatmap_layer)
# # 6. Call the figure to plot the data.
# fig

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap for percent humidity.
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating = False, max_intensity = 300, point_radius = 4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap for percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = clouds, dissipating = False, max_intensity = 300, point_radius = 4)
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap for percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = wind_speed, dissipating = False, max_intensity = 300, point_radius = 4)
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Luwuk,ID,2022-07-16 02:29:42,-0.9516,122.7875,78.30,86,100,6.51
4,4,Codajas,BR,2022-07-16 02:29:42,-3.8367,-62.0569,77.54,81,76,3.33
12,12,Kapaa,US,2022-07-16 02:29:45,22.0752,-159.3190,84.18,70,0,14.97
18,18,Avarua,CK,2022-07-16 02:29:47,-21.2078,-159.7750,75.25,69,75,16.11
25,25,Ratnapura,LK,2022-07-16 02:29:50,6.6828,80.3992,77.76,86,100,2.10
28,28,Merauke,ID,2022-07-16 02:29:51,-8.4667,140.3333,78.67,68,94,13.67
30,30,Izmir,TR,2022-07-16 02:29:52,38.4622,27.0923,78.31,49,0,13.80
31,31,Atuona,PF,2022-07-16 02:29:53,-9.8000,-139.0333,77.20,74,4,12.46
36,36,Saint-Georges,GD,2022-07-16 02:29:54,12.0564,-61.7485,80.28,89,20,16.11
41,41,Hithadhoo,MV,2022-07-16 02:29:56,-0.6000,73.0833,83.17,75,64,13.58

In [17]:
preferred_cities_df.count()

City_ID       193
City          193
Country       193
Date          193
Lat           193
Lng           193
Max Temp      193
Humidity      193
Cloudiness    193
Wind Speed    193
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
3           Luwuk      ID     78.30  -0.9516  122.7875
4         Codajas      BR     77.54  -3.8367  -62.0569
12          Kapaa      US     84.18  22.0752 -159.3190
18         Avarua      CK     75.25 -21.2078 -159.7750
25      Ratnapura      LK     77.76   6.6828   80.3992
28        Merauke      ID     78.67  -8.4667  140.3333
30          Izmir      TR     78.31  38.4622   27.0923
31         Atuona      PF     77.20  -9.8000 -139.0333
36  Saint-Georges      GD     80.28  12.0564  -61.7485
41      Hithadhoo      MV     83.17  -0.6000   73.0833

In [19]:
# Set parameters to search for a hotel.
params = {"radius" : 5000,
          "type" : "lodging",
          "key" : g_key}

In [21]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [23]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Luwuk,ID,78.30,-0.9516,122.7875,Hotel Santika Luwuk
4,Codajas,BR,77.54,-3.8367,-62.0569,Atlântic Hotel
12,Kapaa,US,84.18,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
18,Avarua,CK,75.25,-21.2078,-159.7750,Paradise Inn
25,Ratnapura,LK,77.76,6.6828,80.3992,Hotel Helenium
28,Merauke,ID,78.67,-8.4667,140.3333,
30,Izmir,TR,78.31,38.4622,27.0923,Blue City Boutique Hotel
31,Atuona,PF,77.20,-9.8000,-139.0333,Villa Enata
36,Saint-Georges,GD,80.28,12.0564,-61.7485,Radisson Grenada Beach Resort
41,Hithadhoo,MV,83.17,-0.6000,73.0833,Scoop Guest House

In [26]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = max_temp, dissipating = False, max_intensity = 300, point_radius = 4)
marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [28]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))